<main>
    <!-- Top Bar -->
    <app-top-bar></app-top-bar>
  
    <!-- About Page Content -->
    <section class="about-content">
      <div class="text-content">
        <div class="headline-bar"></div>
        <h1>Easiest way<br>towards peace of mind</h1>
        <p>No need to go to appointments, you can get the help you need right from the comfort of your home!</p>
        <div class="action-buttons">
          <a href="/register" class="sign-in">Sign in ➜</a>
        </div>
      </div>
      <div class="image-content">
        <img src="assets/images/brain-character-2.png" alt="Brain Character">
      </div>
    </section>
  </main>
  