<div class="chat-sidebar">
  <div class="logo-container">
    <img src="assets/images/brain-icon.png" alt="Brain Icon" class="logo-icon" />
    <div class="logo">BrainPal</div>
  </div>
  <div class="navigation">
    <ul>
      <li>Today</li>
      <li>Last week</li>
      <li>Last 30 days</li>
      <li>August</li>
      <li>July</li>
      <li>June</li>
      <li>May</li>
      <li>April</li>
      <li>2023</li>
    </ul>
  </div>
  <div class="apps-link-container">
    Click <a href="/apps" class="apps-link">here</a> to go to apps page.
  </div>
</div>
