<main>
    <!-- Top Bar -->
    <app-top-bar></app-top-bar>
  
    <!-- Home Page Content -->
    <section class="home-content">
      <div class="text-content">
        <h4>Empowering Minds, Transforming Care—One Digital Step at a Time.</h4>
        <h1>Digital<br>Therapeutics</h1>
        <p>Improving the quality of your life from the comfort of your home, one step at a time</p>
        <div class="action-buttons">
          <a href="/login" class="login">Log in</a>
          <a href="/register" class="sign-in">Sign in ➜</a>
        </div>
      </div>
      <div class="image-content">
        <img src="assets/images/brain-character-1.png" alt="Brain Character" />
      </div>
    </section>
  </main>
  