<div class="chat-container">
  <app-chatbot-sidebar></app-chatbot-sidebar> <!-- Sidebar Component -->
  <div class="chat-main">
    <div class="chat-window">
      <div
        *ngFor="let message of messages"
        [class.user]="message.type === 'user'"
        [class.bot]="message.type === 'bot'"
      >
        <p>{{ message.text }}</p>
      </div>
    </div>
    <form (ngSubmit)="sendMessage()" class="chat-input-form">
      <input
        type="text"
        [(ngModel)]="userMessage"
        name="userMessage"
        placeholder="Message towards BrainPal"
        required
      />
      <button type="submit">
        <span class="send-request">Send</span>
      </button>
    </form>
  </div>
</div>
